body {
    background: url(yang.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
    width: 50%;
    margin: auto;
}

h1 {
    -webkit-text-stroke-width: px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

button {
    margin:auto;
    display: block;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3em;
}